alembic==1.13.1
backcall==0.2.0
blinker==1.7.0
click==8.1.7
colorama==0.4.6
-e git+https://github.com/zcessa0/comp0035-cw-template.git@0fcbdee5d79609490a70e08bddc2bb1f04fe3b7d#egg=comp0035_cw
debugpy==1.6.6
decorator==5.1.1
distlib==0.3.7
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==1.2.0
filelock==3.12.4
Flask==3.0.0
flask-marshmallow==1.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
importlib-metadata==7.0.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.3
jupyter_core==5.2.0
Mako==1.3.2
MarkupSafe==2.1.3
marshmallow==3.20.2
marshmallow-sqlalchemy==0.30.0
matplotlib-inline==0.1.6
nest-asyncio==1.5.6
numpy==1.26.1
openpyxl==3.1.2
packaging==23.0
pandas==2.1.1
parso==0.8.3
pickleshare==0.7.5
platformdirs==3.11.0
pluggy==1.4.0
prompt-toolkit==3.0.38
psutil==5.9.4
pure-eval==0.2.2
Pygments==2.14.0
pytest==8.0.0
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32==305
pyzmq==25.0.1
six==1.16.0
SQLAlchemy==2.0.25
tomli==2.0.1
tornado==6.2
traitlets==5.9.0
typing_extensions==4.9.0
tzdata==2023.3
virtualenv==20.24.5
wcwidth==0.2.6
Werkzeug==3.0.1
zipp==3.15.0
